*.[ao]
*.gcov
*.gcda
*.gcno
*.tcov
.deps
INSTALL
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
compile
autom4te.cache
configure
depcomp
install-sh
memcached
memcached-debug
memcached-debug.profile
missing
stamp-h1
tags
TAGS
cscope.out
memcached_dtrace.h
*~
memcached-*.tar.gz
doc/protocol-binary-range.txt
doc/protocol-binary.txt
/sizes
/version.m4
/version.num
/testapp
/timedrun
/doc/doxy
/memcached.spec
/libevent/.gitignore
/libevent/.libs/
/libevent/event-config.h
/libevent/libtool
/libevent/sample/.libs/
/libevent/sample/event-test
/libevent/sample/signal-test
/libevent/sample/time-test
/libevent/test/.libs/
/libevent/test/bench
/libevent/test/regress
/libevent/test/test-eof
/libevent/test/test-init
/libevent/test/test-time
/libevent/test/test-weof
